.cabecalho {
	display: flex;
	align-items: center;
}

.cabecalho__item {
	display: inline-block;
	color: #000;
}
.cabecalho__nav {
	padding: 0px 2rem;
}
.cabecalho__lista {
	display: flex;
	align-items: center;
	/*gap: 20px;*/
}

.cabecalho__item:hover  {
	border-bottom: solid 2px #0073e6;
	
}

.cabecalho__link {
	color: #333;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.3rem;

}